<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Replay</title>
</head>
<body>
    <div class="flex">
        <div class="container">
            <form action="/posts/<%= post.id %>?_method=PATCH" method="post" >
                <textarea name="description" id="" cols="30" rows="10" placeholder="Type Your Answer"><%= post.description %></textarea>

           
                <button>submit</button>
            </form>



























     <!-- ...............        -->
        </div>
    </div>
</body>
</html>